/* Estilo para el formulario de consulta de salas */
#classroomForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Contenedor para mostrar la información de la sala */
#classroomInfo {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f4f4f9;
}
